.BtnPost{
    
        /* margin-top: 300px;
        margin-left: -85px; */
        color: black;
        font-size: 22px;
        padding-right: 15px;
        padding-top: 9px;
        padding-left: 15px;
        padding-bottom: 8px;
        background-color: white;
        font-weight: bold;
        border: 1px solid rgb(155, 184, 201);
        border-radius: 5px;
        cursor: pointer;
    
}

.BtnPost:hover{
    background: #3b5998;
    color: white;
}

#WlcUser{
    margin-left: 500px;
}

#WlcUser_2{
    margin-left: 570px;
}

/* .DivConatiner{
   
   
    
   border: 1x solid;
    
} */
section#FlexDiv{
    display: flex;
    flex-direction: column;
}

.txtArea{
    border: none;
}