.maincontent{
    position: relative;
    top:150px;
    left:70px;
}
.BtnPost{
    
        display: inline-block;
        color: white;
        font-size: 21px;
        position: relative;
        top: 30px;
        left: 825px;
        width: 90px;
        padding-right: 75px;
        background-color: #283747;
        font-weight: bold;
        border: 1px solid rgb(155, 184, 201);
        border-radius: 5px;
        cursor: pointer;   
}

.BtnPost:hover{
    background: #405974;
    color: white;
}

#WlcUser{
    margin-left: 450px;
    margin-top: 60px;
}

#WlcUser_2{
  align-items: center;
  text-align: center;
  position: relative;
  left: 430px;
  bottom:30px;
}

section#FlexDiv_createP{
    display: flex;
    flex-direction: column;
}

#txtArea{
    border: 1px solid black;
    width: 500px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    left: 420px;
}

#LinkPost{
    background-color: #3b5998;
        font-weight: bold;
        border: 1px solid rgb(155, 184, 201);
        border-radius: 5px;
        color: white;
    position: relative;
    left: 590px;
    top: 572px;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 22px;
    border-radius: 8px;
}

#LinkPost:hover{
    border: outset;
}